# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python distribution files
*.egg
*.egg-info
dist/
build/

# PyInstaller
*.spec

# Docker
.docker/

# IDE and editor files
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp

# Database files (if any)
*.sqlite3
*.db

# Configuration files
*.env